body {
	font-family: 'Roboto', sans-serif;
}

.poll-chart {
  width: 250px;
  height: 250px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

label {
  font-weight: 500;
}
