extends layout

block append vars
  - pageTitle = 'Home'

block content
  p Select a poll to see the results and vote, or make a #[a(href='/newpoll') new poll]!
  div.list-group
    each poll in polls
      a.list-group-item(href='/poll/' + poll._id)= poll.title
