extends layout

block content
  div(id='poll-id', data-poll-id=poll.id, style={ display: 'none' })
  h3= poll.title
  div.row
    .col-xs-5
      form#vote-form
        .form-group
          label(for='choiceSelect') I want to vote for:
          select.form-control#choice-select
            each choice in poll.choices
              option= choice.name
            if loggedIn
              option(id='choice-custom') I want my own choice
        if loggedIn
          .form-group#custom-form
            label(for='input-custom') Your choice:
            input(type='text', class='form-control', id='input-custom')
        button(type='submit', id='submit-vote', class='btn btn-primary') Vote!
        br
        br
        a(href='https://twitter.com/intent/tweet?text=' + poll.title + ' - Voting App&url=http://wannavote.herokuapp.com/poll/' + poll.id).btn.btn-social.btn-twitter
          span.fa.fa-twitter
          span Share with friends
    .col-xs-7
      .poll-chart
        canvas(id='pollChart', width='300', height='300')

block append scripts
  script(src='/controllers/pollController.client.js')
  script(src='/public/lib/Chart.js/dist/Chart.min.js')
  script.
      var randomColor = function() {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
      };

    var poll = !{JSON.stringify(poll)}
    var ctx = document.getElementById('pollChart');
    var pollChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: poll.choices.reduce((a, b) => a.concat([b.name]), []),
        datasets: [{
          label: '# of Votes',
          data: poll.choices.reduce((a, b) => a.concat([b.votes]), []),
          backgroundColor: poll.choices.reduce((a, b) => a.concat([randomColor()]), []),
        }]
      },
      options: {
        responsive: false,
        maintainAspectRatio: false
      }
    });
