extends layout

block append vars
  - pageTitle = 'Profile'

block append scripts
  //-script(type='text/javascript', src='common/ajax-functions.js')
  //-script(type='text/javascript', src='controllers/userController.client.js')

block content
  .profile.text-center
    .github-profile
      h3 Your Github profile
      p
        span ID:
        span#profile-id.profile-value #{user.id}
      p
        span Username:
        span#profile-username.profile-value #{user.username}
      p
        span Display Name:
        span#display-name.profile-value #{user.displayName}
      p
        span Repositories:
        span#profile-repos.profile-value #{user.publicRepos}

    a(href='/logout').btn.btn-default Logout
