extends layout

block content
  .profile
    p.text-center Hello, #{user.displayName}
    hr
    .user-polls
      h3.text-center Your polls
      .panel-group
        each poll in polls
          .panel.panel-default
            .panel-body
              a(href='/poll/' + poll.id)= poll.title
              button(title='Delete poll', data-poll-id=poll.id).btn.btn-xs.btn-warning.pull-right.btn-delete
                span.glyphicon.glyphicon-trash

    a(href='/logout').btn.btn-default Logout

block append scripts
  script(src='/controllers/profileController.client.js')
